# Add directories or file patterns to ignore during indexing (e.g. foo/ or *.csv)
.env
**/__pycache__/
.venv
.vscode/
*.code-workspace
data/*

# Examples
!data/processed/ais_processed_20250606_162116.csv
!data/processed/news_processed_20250606_162124.csv
!data/reports/etl_report_20250606_162127.json
!data/reports/sync_report_20250606_163449.json